services:

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U devuser -d devdb"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev

    depends_on:
      db:
        condition: service_healthy

    env_file:
      - .env.docker

    volumes:
      - .:/app
      - node_modules:/app/node_modules

    ports:
      - "3000:3000"

    command: sh -c "npx prisma generate && npm run dev"
    
    environment:
      - WATCHPACK_POLLING=true
      - WATCHPACK_POLLING_INTERVAL=300


  seed:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env.docker
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: sh -c "npm run db:seed"

  migrate:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env.docker
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    command: sh -c "npx prisma generate && npx prisma migrate deploy"


volumes:
  postgres_data:
  node_modules:
