.heroVideo {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.content {
  padding: 2rem;
}

.intro {
	font-size: 3rem;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.cell {
  border: 1px solid #eee;
  padding: 0.5rem;
}


.row {
  border: 1px solid #eee;
  padding: 0.5rem;

.homeImage {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.dark { display: none; }

@media (prefers-color-scheme: dark) {
  .light { display: none; }
  .dark { display: block; }
}