.heroVideo {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.content {
  padding: 2rem;
}

.intro {
	font-size: 3rem;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.cell {
  border: 1px solid #eee;
  padding: 0.5rem;
}


.row {
  border: 1px solid #eee;
  padding: 0.5rem;
}

.parent {
  height: 100rem;
}

.homeImage {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
  z-index: -1;
  overflow: auto;
}

/* In your CSS module (e.g., ImageStyles.module.css) */
.darkenedImage {
  filter: brightness(50%); /* Adjust the percentage to your desired darkness */
}


@media (prefers-color-scheme: light) {
  .light { display: block; }
  .dark { display: none; }
}

@media (prefers-color-scheme: dark) {
  .light { display: none; }
  .dark { display: block; }
}

.homeContainer {
  padding: 2rem;
  width: 100vw;
 
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
}

.contactButton {
  color: #931f1d;
}