.field { 
  position: relative;
  margin: auto;
  width: 100%;
  max-width: var(--max-width-input);
  gap: .25rem;
}

.field input{
  display: block;
  width: 100%;
  padding: 18px 12px 10px;
  background-color: color-mix(
    in srgb,
    var(--brand-olive-green) 10%,
    transparent);
  border-radius: 1rem;
  box-shadow:
    0 0 0 1px color-mix(
    in srgb,
    var(--brand-olive-green) 50%,
    transparent),
    0 0 12px color-mix(
    in srgb,
    var(--brand-olive-green) 45%,
    transparent);
  transition: box-shadow .3s ease, border-color .3s ease;
}

.field input:hover{
  background-color: color-mix(
    in srgb,
    var(--brand-olive-green) 20%,
    transparent);
  border-color: color-mix(
    in srgb,
    var(--brand-purple) 50%,
    transparent);
  box-shadow:
    0 0 0 2px color-mix(
    in srgb,
    var(--brand-purple) 50%,
    transparent),
    0 0 12px 4px color-mix(
    in srgb,
    var(--brand-purple) 45%,
    transparent);
}

.field label{
  position: absolute;
  left: 12px;
  top: 14px;
  pointer-events: none;
  transform-origin: left top;
  transition: transform .15s ease, top .15s ease, opacity .15s ease, color .3s ease;
  opacity: .75;
  padding: 0;
}

/* Focus OR has text */
.field input:focus + label,
.field input:not(:placeholder-shown) + label{
  top: 3px;
  transform: scale(.85);
  opacity: 1;
}